.company-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: MainFont;
    font-weight: 500;
    text-decoration: none;
}
.company-logo img{
    width: 50px;
    object-fit: contain;
    object-position: center;
}