ul.order-group {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 12px;
}

ul.order-group li.order {
  --delay-show: 0s;
  list-style: none;
  position: relative;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  grid-template-rows: auto 1fr auto;
  background-color: var(--main-color);
  border: 1px solid var(--separator);
  border-radius: var(--rounded1);
  padding: 14px 20px;
  box-shadow: var(--box-shadow-1);
  animation: scaleAnimation 0.4s var(--Cubic-Bezier2) backwards;
  animation-delay: var(--delay-show);
}

ul.order-group li.order.expand {
  max-height: fit-content;
}

ul.order-group li.order button {
  min-width: 100px;
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* complete */
ul.order-group li.order.complete .order-status {
  background-color: var(--success-color);
  color: white;
}

/* complete */
ul.order-group li.order.ready .order-status {
  background-color: var(--success-color);
  color: white;
}

ul.order-group li.order.ready {
  border-color: var(--success-color);
  margin-bottom: 20px;
}

.separator-x {
  border-top: 1px solid var(--separator);
  margin-top: 10px;
  margin-bottom: 10px;
}
.separator-y {
  border-left: 1px solid var(--separator);
  margin-left: 10px;
  margin-right: 10px;
}

/* cooking */
ul.order-group li.order.cooking {
  border-color: var(--accent-color2);
}

ul.order-group li.order.cooking .order-status {
  background-color: var(--accent-color2);
  color: white;
}

/* pending */
ul.order-group li.order.pending .order-status,
ul.order-group li.order.waiting-for-payment .order-status {
  background-color: var(--hover-color2);
  color: var(--text3);
}

ul.order-group .order-status {
  background-color: var(--hover-color2);
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: var(--rounded3);
}

/* ---------- */
ul.orders {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

ul.orders li {
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

ul.orders li::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: var(--rounded3);
  background-color: var(--accent-color2);
}

@media (max-width: 720px) {
  ul.order-group li.order > div:nth-child(1) {
    flex-direction: column;
    gap: 10px;
  }
  ul.order-group li.order > div:nth-child(1) > div {
    align-items: start;
  }
  ul.order-group li.order > div:nth-child(1) > div {
    align-items: start;
    gap: 10px;
  }
  ul.order-group li.order > div:nth-child(1) > div p {
    margin: 0;
  }
}
