@import url("/src/styles/loading.css");
@import url("/src/assets/icons8/fluent/main.css");
@import url("/src/assets/fonts/googlefonts/Montserrat/main.css");
@import url("/src/assets/fonts/googlefonts/Poppins/main.css");
@import url("/src/styles/landing-UI1.css");
@import url("/src/styles/adminPanel-UI1.css");
@import url("/src/styles/adminPanel-UI2.css");
@import url("/src/styles/unauthorizePage.css");
@import url("/src/styles/pagenotfound.css");
@import url("/src/styles/autoScaleImage.css");
@import url("/src/styles/buyingForm.css");
@import url("/src/styles/dualForm.css");
@import url("/src/styles/bannerSlidesPromote.css");
@import url("/src/styles/inputField.css");
@import url("/src/styles/hyperLink.css");
@import url("/src/styles/simpleCombobox.css");
@import url("/src/styles/button.css");
@import url("/src/styles/spinning.css");
@import url("/src/styles/companyLogo.css");
@import url("/src/styles/userProfile.css");
@import url("/src/styles/orderGroup.css");
@import url("/src/styles/cardGroup.css");
@import url("/src/styles/ldsEllipsis.css");
@import url("/src/styles/inputToggle.css");
@import url("/src/styles/inputCheckbox.css");

@import url("/src/styles/popupAlert.css");

/* GLOBAL ROOT ----------------------------------------- */
:root {
  --main-color: rgb(250, 250, 255);
  --second-color: rgb(240, 240, 245);
  --third-color: rgb(220, 220, 225);
  --fourth-color: rgb(200, 200, 205);
  --fifth-color: rgb(180, 180, 190);

  --overlay-color: linear-gradient(rgba(250, 250, 255, .6), rgba(250, 250, 255, .6));

  --disabled-color1: rgb(130, 130, 135);
  --disabled-color2: rgb(150, 150, 155);
  --disabled-color3: rgb(180, 180, 185);

  --dark1: rgb(30, 30, 40);
  --dark2: rgb(51, 51, 71);
  --dark3: rgb(70, 70, 90);

  --separator: rgba(0, 0, 0, 0.12);

  --text1: rgb(20, 20, 20);
  --text2: rgb(61, 61, 61);
  --text3: rgb(80, 80, 80);

  --icon1: brightness(0.5);
  --icon2: brightness(0.3);
  --icon3: brightness(0.15);
  --icon4: brightness(0);
  --icon5: brightness(99);

  --hover-color1: rgb(235, 235, 240);
  --hover-color2: rgb(220, 220, 230);
  --hover-color3: rgb(200, 200, 220);

  --rounded1: 10px;
  --rounded2: 20px;
  --rounded3: 30px;
  --rounded4: 40px;

  --neumorphism1: -2px -2px 10px -4px rgba(255, 255, 255, 0.8),
    2px 2px 10px -5px rgba(70, 70, 85, 0.2);
  --neumorphism2: -2px -2px 10px -3px rgba(255, 255, 255, 0.8),
    2px 2px 10px -5px rgba(70, 70, 85, 0.4);
  --neumorphism3: -2px -2px 10px -2px rgba(255, 255, 255, 0.8),
    2px 2px 10px -5px rgba(70, 70, 85, 0.7);

  --box-shadow-1: 1px 2px 10px -6px rgba(0, 0, 55, 0.9);
  --box-shadow-2: 1px 20px 60px -5px rgba(0, 0, 55, 0.2);
  --box-shadow-3: 1px 20px 60px -5px rgba(0, 0, 55, 0.4);

  --glassmorphism-top: 1px solid rgba(255, 255, 255, 0.8);
  --glassmorphism-bottom: 1px solid rgba(0, 0, 0, 0.1);

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;

  /* Letter spacing */
  --space-04: 0.4px;
  --space-06: 0.6px;
  --space-08: 0.8px;
  --space-1: 1px;
  --space-12: 1.2px;
  --space-14: 1.4px;

  /* Accent colors */

  --accent-color1: rgb(112, 66, 66);
  --accent-color1-hover: rgb(138, 101, 101);
  --accent-color1-hover2: rgb(216, 203, 203);

  --accent-color2: rgb(254, 183, 3);
  --accent-color2-hover: rgb(241, 196, 124);
  --accent-color2-hover2: rgb(250, 235, 211);

  --accent-color3: rgb(215, 79, 95);
  --accent-color3-hover: rgb(226, 130, 142);
  --accent-color3-hover2: rgb(245, 213, 217);

  --link-color: rgb(134, 153, 218);
  --link-color-hover: rgb(174, 187, 230);

  --success-color: rgb(113, 190, 52);
  --success-color-hover: rgb(207, 233, 187);
  --warning-color: rgb(255, 198, 53);
  --warning-color-hover: rgb(255, 236, 187);
  --danger-color: rgb(255, 98, 61);
  --danger-color-hover: rgb(255, 202, 190);
  --info-color: rgb(145, 145, 155);
  --info-color-hover: rgb(218, 218, 221);

  /* Transitions */
  --trns-02: 0.2s;
  --trns-03: 0.3s;
  --trns-04: 0.4s;
  --trns-05: 0.5s;
  --trns-06: 0.6s;
  --trns-07: 0.7s;
  --trns-08: 0.8s;
  --trns-09: 0.9s;
  --trns-1: 1s;

  /* Cubic Bezier */
  --Cubic-Bezier1: cubic-bezier(0.075, 0.82, 0.165, 1);
  --Cubic-Bezier2: cubic-bezier(0.6, 0, 0.24, 1.33);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*  
  * DARK -------------------------------------------------
*/

.dark {
  --main-color: rgb(35, 35, 45);
  --second-color: rgb(45, 45, 55);
  --third-color: rgb(55, 55, 65);
  --fourth-color: rgb(65, 65, 75);
  --fifth-color: rgb(75, 75, 85);

  --overlay-color: linear-gradient(rgba(35, 35, 45, .6), rgba(35, 35, 45, .6));

  --disabled-color1: rgb(120, 120, 130);
  --disabled-color2: rgb(105, 105, 115);
  --disabled-color3: rgb(140, 140, 150);

  --dark1: rgb(51, 51, 61);
  --dark2: rgb(71, 71, 81);
  --dark3: rgb(91, 91, 101);

  --separator: rgba(255, 255, 255, 0.2);

  --icon1: brightness(0.6);
  --icon2: brightness(0.7);
  --icon3: brightness(0.9);
  --icon4: brightness(99);
  --icon5: brightness(0);

  --hover-color1: rgb(60, 60, 70);
  --hover-color2: rgb(80, 80, 90);
  --hover-color3: rgb(100, 100, 110);

  --text1: rgb(250, 250, 255);
  --text2: rgb(240, 240, 255);
  --text3: rgb(230, 230, 240);

  --neumorphism1: -2px -2px 10px -8px rgba(40, 40, 50, 0.8),
    2px 2px 10px -6px rgba(0, 0, 0, 0.2);
  --neumorphism2: -2px -2px 10px -9px rgba(40, 40, 50, 0.8),
    2px 2px 10px -5px rgba(0, 0, 0, 0.4);
  --neumorphism3: -2px -2px 10px -10px rgba(40, 40, 50, 0.8),
    2px 2px 10px -4px rgba(0, 0, 0, 0.7);

  --box-shadow-1: 1px 2px 10px -4px rgba(0, 0, 0, 1);
  --box-shadow-2: 1px 20px 60px -3px rgba(0, 0, 0, 0.5);
  --box-shadow-3: 1px 20px 60px -5px rgba(0, 0, 0, 0.6);

  --glassmorphism-top: 1px solid rgba(235, 235, 245, 0.1);
  --glassmorphism-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/*  
  * Transition Screen -------------------------------------------------
*/

.trnsoff {--trns-02: 0s;--trns-03: 0s;--trns-04: 0s;--trns-05: 0s;--trns-06: 0s;--trns-07: 0s;--trns-08: 0s;--trns-09: 0s;--trns-1: 0s;}

.trns01 {--trns-02: 0.5s;--trns-03: 0.6s;--trns-04: 0.7s;--trns-05: 0.8s;--trns-06: 0.9s;--trns-07: 1s;--trns-08: 1.1s;--trns-09: 1.2s;--trns-1: 1.3s;}

.trns02 {--trns-02: 0.35s;--trns-03: 0.45s;--trns-04: 0.55s;--trns-05: 0.65s;--trns-06: 0.75s;--trns-07: 0.85s;--trns-08: 0.95s;--trns-09: 1.05s;--trns-1: 1.1s;}

.trns03 {--trns-02: 0.2s;--trns-03: 0.3s;--trns-04: 0.4s;--trns-05: 0.5s;--trns-06: 0.6s;--trns-07: 0.7s;--trns-08: 0.8s;--trns-09: 0.9s;--trns-1: 1s;}

.trns04 {--trns-02: 0.1s;--trns-03: 0.2s;--trns-04: 0.3s;--trns-05: 0.4s;--trns-06: 0.5s;--trns-07: 0.6s;--trns-08: 0.7s;--trns-09: 0.8s;--trns-1: 0.9s;}

.trns05 {--trns-02: 0.025s;--trns-03: 0.14s;--trns-04: 0.22s;--trns-05: 0.3s;--trns-06: 0.38s;--trns-07: 0.46s;--trns-08: 0.54s;--trns-09: 0.62s;--trns-1: 0.7s;}

/* 
    * Class ----------------------------------------
*/

/* letter spacing */
.space-04 {letter-spacing: var(--space-04);}
.space-06 {letter-spacing: var(--space-06);}
.space-08 {letter-spacing: var(--space-08);}
.space-1 {letter-spacing: var(--space-1);}
.space-12 {letter-spacing: var(--space-12);}
.space-14 {letter-spacing: var(--space-14);}
.space-16 {letter-spacing: var(--space-16);}
.space-18 {letter-spacing: var(--space-18);}
.space-2 {letter-spacing: var(--space-2);}
.font-consolas {font-family: consolas;}
.font-main {font-family: MainFont;}
.font-second {font-family: SecondFont;}
.font-third {font-family: ThirdFont;}

/* z-index */
.z-1 {z-index: 1;}

/* gap */
.gap-2 {gap: 2px;}
.gap-4 {gap: 4px;}
.gap-6 {gap: 6px;}
.gap-8 {gap: 8px;}
.gap-10 {gap: 10px;}
.gap-14 {gap: 14px;}
.gap-16 {gap: 16px;}
.gap-18 {gap: 18px;}
.gap-20 {gap: 20px;}
.gap-30 {gap: 30px;}
.gap-40 {gap: 40px;}
.gap-50 {gap: 50px;}

/* cursor */
.cursr-pointer {cursor: pointer;}
.cursr-default {cursor: default;}

/* pointer event*/
.pointer-none {pointer-events: none;}

/* scrollbar */
.scrollbar-off::-webkit-scrollbar {width: 0;height: 0;}

/* text */
.text-center {text-align: center;}

/* line height */
.line-heg-10 {line-height: 10px;}
.line-heg-16 {line-height: 16px;}
.line-heg-20 {line-height: 20px;}
.line-heg-26 {line-height: 26px;}
.line-heg-30 {line-height: 30px;}
.line-heg-34 {line-height: 34px;}
.line-heg-40 {line-height: 40px;}
.line-heg-46 {line-height: 46px;}
.line-heg-50 {line-height: 50px;}
.line-heg-56 {line-height: 56px;}

/* border radius */
.rounded10 {border-radius: var(--rounded1);}
.rounded20 {border-radius: var(--rounded2);}
.rounded30 {border-radius: var(--rounded3);}
.rounded40 {border-radius: var(--rounded4);}

/* padding */
.pad-y-10 {padding-top: 10px;padding-bottom: 10px;}
.pad-x-10 {padding-left: 10px;padding-right: 10px;}
.pad-10 {padding: 10px;}

.pad-y-20 {padding-top: 20px;padding-bottom: 20px;}
.pad-x-20 {padding-left: 20px;padding-right: 20px;}
.pad-20 {padding: 20px;}

.pad-y-30 {padding-top: 30px;padding-bottom: 30px;}
.pad-x-30 {padding-left: 30px;padding-right: 30px;}
.pad-30 {padding: 30px;}

.pad-t-4 {padding-top: 4px;}
.pad-r-4 {padding-right: 4px;}
.pad-b-4 {padding-bottom: 4px;}
.pad-l-4 {padding-left: 4px;}

.pad-t-6 {padding-top: 6px;}
.pad-r-6 {padding-right: 6px;}
.pad-b-6 {padding-bottom: 6px;}
.pad-l-6 {padding-left: 6px;}

.pad-t-8 {padding-top: 8px;}
.pad-r-8 {padding-right: 8px;}
.pad-b-8 {padding-bottom: 8px;}
.pad-l-8 {padding-left: 8px;}

.pad-t-10 {padding-top: 10px;}
.pad-r-10 {padding-right: 10px;}
.pad-b-10 {padding-bottom: 10px;}
.pad-l-10 {padding-left: 10px;}

.pad-t-20 {padding-top: 20px;}
.pad-r-20 {padding-right: 20px;}
.pad-b-20 {padding-bottom: 20px;}
.pad-l-20 {padding-left: 20px;}

.pad-t-30 {padding-top: 30px;}
.pad-r-30 {padding-right: 30px;}
.pad-b-30 {padding-bottom: 30px;}
.pad-l-30 {padding-left: 30px;}

.pad-t-40 {padding-top: 40px;}
.pad-r-40 {padding-right: 40px;}
.pad-b-40 {padding-bottom: 40px;}
.pad-l-40 {padding-left: 40px;}

/* margin */
.mrgn-clear {margin: 0;}
.pad-clear {padding: 0;}

.mrgn-auto{margin: auto;}
.mrgn-y-auto{margin-top: auto;margin-bottom: auto;}
.mrgn-x-auto{margin-left: auto;margin-right: auto;}
.mrgn-t-auto{margin-top: auto;}
.mrgn-r-auto{margin-right: auto;}
.mrgn-b-auto{margin-bottom: auto;}
.mrgn-l-auto{margin-left: auto;}

.mrgn-y-10 {margin-top: 10px;margin-bottom: 10px;}
.mrgn-x-10 {margin-left: 10px;margin-right: 10px;}
.mrgn-10 {margin: 10px;}

.mrgn-y-20 {margin-top: 20px;margin-bottom: 20px;}
.mrgn-x-20 {margin-left: 20px;margin-right: 20px;}
.mrgn-20 {margin: 20px;}

.mrgn-y-30 {margin-top: 30px;margin-bottom: 30px;}
.mrgn-x-30 {margin-left: 30px;margin-right: 30px;}
.mrgn-30 {margin: 30px;}

.mrgn-t-4 {margin-top: 4px;}
.mrgn-r-4 {margin-right: 4px;}
.mrgn-b-4 {margin-bottom: 4px;}
.mrgn-l-4 {margin-left: 4px;}

.mrgn-t-6 {margin-top: 6px;}
.mrgn-r-6 {margin-right: 6px;}
.mrgn-b-6 {margin-bottom: 6px;}
.mrgn-l-6 {margin-left: 6px;}

.mrgn-t-8 {margin-top: 8px;}
.mrgn-r-8 {margin-right: 8px;}
.mrgn-b-8 {margin-bottom: 8px;}
.mrgn-l-8 {margin-left: 8px;}

.mrgn-t-10 {margin-top: 10px;}
.mrgn-r-10 {margin-right: 10px;}
.mrgn-b-10 {margin-bottom: 10px;}
.mrgn-l-10 {margin-left: 10px;}

.mrgn-t-20 {margin-top: 20px;}
.mrgn-r-20 {margin-right: 20px;}
.mrgn-b-20 {margin-bottom: 20px;}
.mrgn-l-20 {margin-left: 20px;}

.mrgn-t-30 {margin-top: 30px;}
.mrgn-r-30 {margin-right: 30px;}
.mrgn-b-30 {margin-bottom: 30px;}
.mrgn-l-30 {margin-left: 30px;}

.mrgn-t-40 {margin-top: 40px;}
.mrgn-r-40 {margin-right: 40px;}
.mrgn-b-40 {margin-bottom: 40px;}
.mrgn-l-40 {margin-left: 40px;}

/* display */
.dsp-flex {display: flex;}
.dsp-grid {display: grid; grid-template-columns: var(--gd-colm); grid-template-rows: var(--gd-rows);}
.dsp-block {display: block;}
.dsp-none {display: none;}
.fl-04 {flex: .4;}
.fl-06 {flex: .6;}
.fl-08 {flex: .8;}
.fl-1 {flex: 1;}
.fl-colm {flex-direction: column;}
.fl-row {flex-direction: row;}
.fl-wrap {flex-wrap: wrap;}
.justify-self-center {justify-self: center;}
.justify-self-start {justify-self: flex-start;}
.justify-self-end {justify-self: flex-end;}
.justify-center {justify-content: center;}
.justify-start {justify-content: flex-start;}
.justify-end {justify-content: flex-end;}
.justify-around {justify-content: space-around;}
.justify-between {justify-content: space-between;}
.justify-evenly {justify-content: space-evenly;}
.align-cnt-center {align-content: center;}
.align-cnt-around {align-content: space-around;}
.align-cnt-between {align-content: space-between;}
.align-itms-start {align-items: flex-start;}
.align-itms-end {align-items: flex-end;}
.align-itms-center {align-items: center;}
.align-self-start {align-self: flex-start;}
.align-self-end {align-self: flex-end;}
.align-self-center {align-self: center;}

.post-reltv {position: relative;}
.post-absolt {position: absolute;}
.post-fixed {position: fixed;}

/* text */
.font-weg-200 {font-weight: 200;}
.font-weg-300 {font-weight: 300;}
.font-weg-400 {font-weight: 400;}
.font-weg-500 {font-weight: 500;}
.font-weg-600 {font-weight: 600;}
.font-weg-700 {font-weight: 700;}
.font-weg-800 {font-weight: 800;}
.font-size-10 {font-size: 10px;}
.font-size-11 {font-size: 11px;}
.font-size-12 {font-size: 12px;}
.font-size-13 {font-size: 13px;}
.font-size-14 {font-size: 14px;}
.font-size-16 {font-size: 16px;}
.font-size-18 {font-size: 18px;}
.font-size-22 {font-size: 22px;}
.font-size-24 {font-size: 24px;}
.font-size-26 {font-size: 26px;}
.font-size-28 {font-size: 28px;}
.font-size-30 {font-size: 30px;}
.font-size-32 {font-size: 32px;}
.font-size-34 {font-size: 34px;}
.text-1 {color: var(--text1);}
.text-2 {color: var(--text2);}
.text-3 {color: var(--text3);}
.disabled-text-1 {color: var(--disabled-color1);}
.disabled-text-2 {color: var(--disabled-color2);}
.disabled-text-3 {color: var(--disabled-color3);}
.disabled-text-static-1 {color: whitesmoke;}
.disabled-text-static-2 {color: rgb(130, 130, 135);}
.accent-col-1 {color: var(--accent-color1);}
.accent-col-2 {color: var(--accent-color2);}
.accent-col-3 {color: var(--accent-color3);}
.accent-bgcol-1 {background-color: var(--accent-color1);}
.accent-bgcol-2 {background-color: var(--accent-color2);}
.accent-bgcol-3 {background-color: var(--accent-color3);}
.bg-main{background-color: var(--main-color);}
.bg-second{background-color: var(--second-color);}
.bg-third{background-color: var(--third-color);}
.bg-fourth{background-color: var(--fourth-color);}
.bg-fifth{background-color: var(--fifth-color);}
.success-bgcol {background-color: var(--success-color);}
.warning-bgcol {background-color: var(--warning-color);}
.info-bgcol {background-color: var(--info-color);}
.danger-bgcol {background-color: var(--danger-color);}
.success-col {color: var(--success-color);}
.warning-col {color: var(--warning-color);}
.info-col {color: var(--info-color);}
.danger-col {color: var(--danger-color);}
.word-breakall {word-break: break-all;}
.nowrap {white-space: nowrap;}
.break-space {white-space: break-spaces;}
.text-elips {text-overflow: ellipsis;}
.txt-left {text-align: left;}
.txt-right {text-align: right;}

/* width & height */
.w-fit-content {width: fit-content;}
.h-fit-content {height: fit-content;}
.w-100 {width: 100%;}
.h-100 {height: 100%;}

/* overflow */
.overflow-hidden {overflow: hidden;}
.overflow-y-auto {overflow-y: auto;}
.overflow-x-auto {overflow-x: auto;}
.overflow-y-hidden {overflow-y: hidden;}
.overflow-x-hidden {overflow-x: hidden;}

/* panel */
.box {color: var(--textb1);}
.border-box {box-sizing: border-box;}
.box-shadow1 {box-shadow: var(--box-shadow-1);}
.box-shadow2 {box-shadow: var(--box-shadow-2);}
.box-shadow3 {box-shadow: var(--box-shadow-3);}

/* 
    * TEMPLATES ----------------------------------------
*/
#root {background-color: var(--second-color);color:var(--text2);}

.icons8-regular,
.icons8-filled{
  filter: var(--icon4);
}

html {scroll-behavior: smooth;}

::-webkit-scrollbar-thumb {background-color: var(--fourth-color);border-radius: 50px;}
::-webkit-scrollbar {width: 6px; height: 6px; background-color: var(--second-color);}

body {margin: 0;padding: 0;box-sizing: border-box;font-family: SecondFont, sans-serif;font-weight: 400;color: var(--text2);height: fit-content;min-height: 100vh;overflow-x: hidden;}

h1,h2,h3,h4,h5,h6,p,label, ul {margin: 0;padding: 0;}

button,li{-webkit-tap-highlight-color: transparent;}